--- 
layout: home
---

<section>
    {% for post in paginator.posts %}
    <div class="section">
        <h4 class="text-center">            
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h4>
        <div>
            <small>
                <span class="fa fa-calendar"></span> 
                {{ post.date | date: "%Y, %b %-d" }}
            </small>
            <small>
                <span class="fa fa-tags"></span>
                {{ post.tags | join: ', ' }}
            </small>
        </div>
        <br>
        <div class="post-content">
            {% if post.content contains '<!--more-->' %} 
                {{ post.content | split:'<!--more-->' | first }}
                <p>
                    <a href="{{ site.baseurl }}{{ post.url }}">Lanjutkan...</a>
                </p>
            {% else %} 
                {{ post.content }} 
            {% endif %}
        </div>
    </div>
    <hr>
    {% endfor %}
</section>
<br>
<section style="text-align: right">
    <div>
        <ul class="pagination">
            {% if paginator.total_pages > 1 %}
                {% if paginator.previous_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        <span class="fa fa-caret-left" />
                        Sebelumnya
                    </a>
                </li>
                {% else %}
                <li class="disabled page-item">
                    <a class="page-link">
                        <span class="fa fa-caret-left" />
                        Sebelumnya
                    </a>
                </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link">Halaman {{ paginator.page }} dari {{ paginator.total_pages }}</a>
                </li>
                {% if paginator.next_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        Selanjutnya
                        <span class="fa fa-caret-right" />
                    </a>
                </li class="page-item">
                {% else %}
                <li class="disabled">
                    <a class="page-link">
                        Selanjutnya
                        <span class="fa fa-caret-right" />
                    </a>
                </li>
                {% endif %} 
            {% endif %}
        </ul>
    </div>
    <!-- end pagination control -->
</section>