--- 
layout: home 
title: "Categories" 
permalink: /pages/categories 
---

<div style="padding-left: 20px">
    <ul id="arsip" class="list-group list-group-flush">
        {% for post in site.posts %} 
            {% unless post.next %}
                <li style="list-style: none;">
                    <i class="fa fa-calendar-o"></i>
                    <span id="{{ post.date | date: '%Y-%b' }}" class="post-list-header">
                        {{ post.date | date: '%B %Y' }}
                    </span>
                </li>
                <hr> 
            {% else %} 
            {% capture year %}
                {{ post.date | date: '%Y - %B' }}
            {% endcapture %} 
            {% capture nyear %}
                {{ post.next.date | date: '%Y - %B' }}
            {% endcapture %} 
            {% if year != nyear %}
                <br>
                <li style="list-style: none;">
                    <i class="fa fa-calendar-o"></i>
                    <span id="{{ post.date | date: '%Y-%b' }}">
                        {{ post.date | date: '%B %Y' }}
                    </span>
                </li>
                <hr> 
            {% endif %} 
            
            {% endunless %}

            <li class="list-group-item">
                {{ post.date | date: "%A, %d"}} -
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
                <div>
                    <small>
                        <span class="fa fa-tags"></span> {{post.tags | join: ', '}}
                    </small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>