<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ site.baseurl }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta property="og:image" content="{{ " /assets/img/profile.jpg " | prepend: site.baseurl }}" />
    <title>
        {% if page.title %} Blog: Dimas Maryanto - {{ page.title | escape }} {% else %} Blog: Dimas Maryanto {% endif %}
    </title>
    <link rel="stylesheet" href="{{ " /node_modules/bootstrap/dist/css/bootstrap.min.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /node_modules/font-awesome/css/font-awesome.min.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /assets/css/default.css " | prepend: site.baseurl }}">

    <script type="text/javascript" src="{{ " /node_modules/jquery/dist/jquery.min.js " | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ " /node_modules/bootstrap/dist/js/bootstrap.bundle.min.js
        " | prepend: site.baseurl }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{" / " | prepend: site.baseurl }}">
                <img src="{{" /favicon.ico" | prepend: site.baseurl }}" width="30" height="30" class="d-inline-block align-top" alt="">
                {{site.header}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Archives  <span class="badge badge-info">{{site.posts.size}}</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{" /pages/about " | prepand: site.baseurl }}">About</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <br/>
    <div class="row">
        {{content}}
    </div>
</body>

</html>