--- 
layout: home 
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <h3>
        {{ page.title }}
    </h3>
    <small>
        <span class="fa fa-calendar"></span>
        {{ page.date | date: '%A, %d %B %Y' }}
    </small>
    &nbsp;
    <small>
        <span class="fa fa-user"></span>
        {{ page.author }}
    </small>
    &nbsp;
    <small> 
        <span class="fa fa-tags"></span>
        {{ page.tags | join: ', '}}
    </small>
    <hr>
    <div class="post-content">
        {{content}}
    </div>
</article>